<div class="row">
    <div class="col-lg-6">
        <h2>Import Accounts</h2>
<%= form_for :accounts do |f| %>
    <%= f.file_field :csv %>
    <%= f.submit %>
<% end %>
    </div>
    <% unless @rows.nil? %>
        <% @rows.each do |row|  %>
            <%= row[0] %>
        <% end %>
    <% end %>
</div>
